body {

    color: white;
    margin: 0px;
    padding: 0px;
    background: url(../IMAGES/pexels-leonardho-1552242.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.left {
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 10px;
}

.left img {
    width: 100px;
    filter: invert(100%);

}

.left div {
    line-height: 10px;
    font-size: 15px;
    text-align: center;
}

.mid {
    display: block;
    width: 30%;
    margin: 30px auto;

}

.navbar {
    display: inline-block;

}

.navbar li {
    display: inline-block;
    font-size: 30px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 14px 12px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: darkgrey;

}

.right {
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 30px;
}

.button {
    margin: 0px 10 px;
    padding: 10px 15px;
    color: white;
    border: 2px solid rgb(47, 37, 37);
    border-radius: px;
    background-color: black;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(20, 6, 6);
    color: darkgray;

}

.condinear {
    border: 2px white solid;
    margin: 100px 500px;
    padding: 50px;
    width: 20%;
    border-radius: 10px;
}

.form-group input {
    text-align: center;
    justify-content: center;
    width: 300px;
    border-radius: 5px;
    background-color: azure;
    font-size: 20px;

}

.Gender {
    text-align: center;
    justify-content: center;
    width: 300px;
    border-radius: 5px;
    background-color: azure;
    font-size: 20px;
}


.textarea {
    text-align: center;
    justify-content: center;
    width: 300px;
    border-radius: 5px;
    background-color: azure;
    font-size: 20px;
}

input:hover {
    background-color: rgb(137, 230, 200);
    color: beige;
}

.condinear button {
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
}

.Gender {
    text-align: center;
    justify-content: center;
    width: 300px;
    border-radius: 5px;
    background-color: azure;
    font-size: 20px;
}